!!!
%html
  %head
    %script{:type => "text/javascript",
            :src  => "https://code.jquery.com/jquery-3.1.1.min.js",
            :integrity => "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
            :crossorigin => "anonymous"}
    %script{:type => "text/javascript",
            :src  => "javascripts/index.js"}
    %link{:rel => :stylesheet, :type => :"text/css",
          :href => "stylesheets/base.css"}

  %body
    %h1 HAML, SASS, Coffee Boilerplate
    %p.author by Henning Vogt - github.com/henvo
